// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #ededed;
@light-gray: #c1c1c1;
@gray: #373b41;
@dark-gray: #272727;
@very-dark-gray: #0e0e0e;

@cyan: #28a897;
@blue: #2983d0;
@purple: #951fb9;
@green: #56c91f;
@red: #da1818;
@orange: #e97018;
@light-orange: #e9af3e;
@seagreen: #00b574;
@transparent-blue: rgba(61, 151, 227, 0.4);
