// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #ededed;
@light-gray: #c1c1c1;
@gray: #373737;
@dark-gray: #2b2b2b;
@very-dark-gray: #161616;

@cyan: #009e9e;
@blue: #00aedb;
@purple: #a200ff;
@green: #8ec127;
@red: #d41243;
@orange: #f47835;
@light-orange: lighten(@orange, 10%);
@seagreen: mix(@blue, @green);
@transparent-blue: fadeout(@blue, 60%);
